@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
.text-dark-green{
    color: #00502B;
}
.text-green{
    color: #5CA075;
}
.text-light-green{  
    color: #80B243;
}
.bg-dark-green{
    background-color: #00502B;
}
.bg-light-green{
    background-color: #E3FFED !important;
}
.montserrat{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.bg-green-gray{
    background: rgb(203,222,213);
background: linear-gradient(49deg, rgba(203,222,213,0.9921218487394958) 0%, rgba(250,250,250,0.9809173669467787) 95%);
}
.navbar-brand img{
    width:70px
}
.nav-link{
    font-weight: 600;
    color: black;   
}
.nav-link.active{
    color: #00502B !important;
}
.btn-success{
    background-color: #00502B !important;
}
.placeholder-white::placeholder{
    color: white;
}
.position-absolute.w-100{
    width: 75% !important;
}

.owl-prev img,.owl-next img{
    width: 60px !important;
}

.owl-prev,.owl-next{
    position: absolute;
    top: 50%;
}
.owl-prev{
    right: 100%;
}
.owl-next{
    left: 100%;
}

@media (width<=768px){
    .owl-prev img,.owl-next img{
        width: 30px !important;
        height: 10px !important;
    }

}

@media (width<=500px){
    .owl-prev,.owl-next{
        bottom: -120px;
    }
    .owl-prev{
        right: 60%;
    }
    .owl-next{
        left: 60%;
    }

}